/* Style for the body */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 20px;
}

.center-align {
    text-align: center;
}

/* Style for the "글쓰기" (Write) link */
a {
    text-decoration: none;
    color: white;
    background-color: #BF94E4;
    padding: 10px 15px;
    border-radius: 5px;
    display: inline-block;
}

a:hover {
    background-color: #481658;
}

/* Style for the form */
form {
    width: 100%; /* 폼의 폭을 최대로 설정 */
    max-width: 1200px; /* 폼의 최대 폭을 1200px로 설정 */
    margin: 0 auto; /* 화면 중앙에 위치 */
}

/* Style for the table */
table {
    width: 100%;
    max-width: none;
    border: 1px solid #ccc; /* Added subtle border to the table */
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Ensure some spacing from top elements */
}

/* Style for table headers */
th {
    background-color: #f2f2f2;
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ccc; /* Add bottom border for headers */
}

/* Style for table data cells */
td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #eee; /* Add subtle borders to separate rows */
}

/* Alternating row colors */
tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:nth-child(odd) {
    background-color: #fff;
}

/* Hover effect for table rows */
tr:hover {
    background-color: #eaeaea;
}

/* Style for the button container */
.button-container {
    display: flex;
    justify-content: center; /* Center align the button */
    gap: 10px;
    margin-top: 20px; /* Adjusted for visual spacing */
}

/* Style for the buttons */
button {
    background-color: #BF94E4;
    color: white;
    padding: 10px 20px; /* Slightly more padding for better touch */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #481658;
}
